<%= form_with(model: flat_owner, local: true) do |form| %>
  <% if flat_owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flat_owner.errors.count, "error") %> prohibited this flat_owner from being saved:</h2>

      <ul>
      <% flat_owner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Buldingname %>
    <%= form.text_field :Buldingname %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :region %>
    <%= form.text_field :region %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :rooms_number %>
    <%= form.number_field :rooms_number %>
  </div>

  <div class="field">
    <%= form.label :beds_number %>
    <%= form.number_field :beds_number %>
  </div>

  <div class="field">
    <%= form.label :baths_number %>
    <%= form.number_field :baths_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
