<p id="notice"><%= notice %></p>

<h1>Flat Owners</h1>

<table>
  <thead>
    <tr>
      <th>Buldingname</th>
      <th>Address</th>
      <th>Region</th>
      <th>Country</th>
      <th>Rooms number</th>
      <th>Beds number</th>
      <th>Baths number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flat_owners.each do |flat_owner| %>
      <tr>
        <td><%= flat_owner.Buldingname %></td>
        <td><%= flat_owner.address %></td>
        <td><%= flat_owner.region %></td>
        <td><%= flat_owner.country %></td>
        <td><%= flat_owner.rooms_number %></td>
        <td><%= flat_owner.beds_number %></td>
        <td><%= flat_owner.baths_number %></td>
        <td><%= link_to 'Show', flat_owner %></td>
        <td><%= link_to 'Edit', edit_flat_owner_path(flat_owner) %></td>
        <td><%= link_to 'Destroy', flat_owner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flat Owner', new_flat_owner_path %>
