<p id="notice"><%= notice %></p>

<p>
  <strong>Buldingname:</strong>
  <%= @flat_owner.Buldingname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @flat_owner.address %>
</p>

<p>
  <strong>Region:</strong>
  <%= @flat_owner.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @flat_owner.country %>
</p>

<p>
  <strong>Rooms number:</strong>
  <%= @flat_owner.rooms_number %>
</p>

<p>
  <strong>Beds number:</strong>
  <%= @flat_owner.beds_number %>
</p>

<p>
  <strong>Baths number:</strong>
  <%= @flat_owner.baths_number %>
</p>

<%= link_to 'Edit', edit_flat_owner_path(@flat_owner) %> |
<%= link_to 'Back', flat_owners_path %>
