<div class="container">
 

<%= form_with(model: cleaning_request, local: true,class:'form-group') do |form| %>
  <% if cleaning_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cleaning_request.errors.count, "error") %> prohibited this cleaning_request from being saved:</h2>
      <ul>
      <% cleaning_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class='form-group'>
    <%= form.label :status_cleaning %>
     <%=form.select :status_cleaning_id, options_for_select(@status_cleaning), {:selected => cleaning_request.status_cleaning_id}, {required: 'true', autofocus: 'true', class: 'form-control'}  %>
  </div>
  
 <div class='form-group'>
   <%= form.label :flat_detail %>
   <%=form.select :flat_detail_id, options_for_select(@flat_detail), {:selected => cleaning_request.flat_detail_id},{required: 'true', autofocus: 'true', class: 'form-control'} %>

    </select>
  </div>


<%= form.submit 'Request Service', :class => 'btn btn-info' %>


<% end %>
</div>