<div class="container " >

    <div class="row justify-content-center">
      <div class="avatar-solicitudes button-effect" >
        <div class="img-avatar-cser button-effect">
          <div class="link-text-avatar"> </div>
        </div>
       
     <span>  <a class="avatar-text" href="<%= new_cleaning_request_path %>"> <strong>AGENDAR KEEPER </strong></a></span>
      </div>
     
      <div class="avatar-solicitudes button-effect" >
        <div class="img-avatar-prop button-effect">
          <div class="link-text-avatar"> </div>
        </div>
         <strong><a class="avatar-text" href="<%= new_flat_detail_path %>"><span> NUEVA PROPIEDAD</span></a></strong>
      </div>
      <div class="avatar-solicitudes button-effect" >
        <div class="img-avatar-cal button-effect">
          <div class="link-text-avatar"> </div>
        </div>
         <strong><a class="avatar-text" href="<%= full_calendars_path %>"><span> MI CALENDARIO </span></a></strong>
      </div>
      <div class="avatar-solicitudes button-effect" >
        <div class="img-avatar-maps button-effect">
          <div class="link-text-avatar"></div>
        </div>
         <strong><a class="avatar-text" href="<%= geomaps_path %>"><span> MIS UBICACIONES </span></a></strong>
      </div>
       <div class="avatar-solicitudes button-effect" >
        <div class="img-avatar-pay button-effect">
          <div class="link-text-avatar"></div>
        </div>
         <strong><a class="avatar-text" href="<%= geomaps_path %>"><span> SUSCRIPCIONES </span></a></strong>
      </div>
      
    </div>
    <div class="row" style="height:50vh;"></div>
  
</div>
